extends layout

block content
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      .navbar-header
        a.navbar-brand
          .logo.nav-button
            i.fa.fa-bullseye
            span Coca
      .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href="" target="_blank")
              span(id='jp') Joey Production
              i.fa.fa-rocket
  .jumbotron
    .container
      h1 Coca
      p Even get tired of reading tables? It is time to display data in cards!
